extends layout

block content

  main 
    div(class="container")
      section(class="section register min-vh-70 d-flex flex-column align-items-center justify-content-center py-4")
        div(class="container")
          div(class="row justify-content-center")
            div(class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center")
              //-LOGO
              div(class="d-flex justify-content-center py-3")
                a(href="#" class="logo d-flex align-items-center w-auto") 
                  img(src="/assets/img/ddm_logo.png", alt="")
                  span.d-none.d-lg-block DEVDRONEMAPPER
              
              //-CARD
              div(class="card mb-3 col-12")
                div(class="card-body")
                  div(class="pt-4 pb-2")
                    h5(class="card-title text-center pb-0 fs-4") LOGIN
                    p(class="text-center small") Enter your username  password 
                  
                  //-FORM
                  form(action="/" method="POST" class="row g-3 needs-validation" novalidate)
                    
                    div(class="col-12")
                      label(for="yourUsername" class="form-label") Username
                      div(class="input-group has-validation")
                        input( name="username" type="text" class="form-control" id="yourUsername" required)
                        div(class="invalid-feedback") Please enter your username.
                    
                    div(class="col-12")
                      label(for="yourUsername" class="form-label") Password
                      div(class="input-group has-validation")
                        input(name="password" type="password" class="form-control" id="yourPassows" required )
                        div(class="invalid-feedback") Please enter your password!

                    div(class="col-12")
                      div(class="form-check")
                        input(type="checkbox" name="" class="form-check-input" checked required)
                        label(class="form-check-label" for="rememberMe") Agree to terms and conditions for DDM
                        div(class="invalid-feedback") You must agree before submitting.

                        div(class="mt-4")
                          a(href="/register/")
                            p(class="small") Don't have accouct register here.

                    div(class="col-12")
                      button(class="btn btn-primary w-100" type="submit") LOGIN
                    .md-3.text-center 
                      if flash.error 
                        p.alert.alert-danger= flash.error
                      


