extends ../layout

block content
    include ../util/navbar
    include ../util/sidebar

    main(id="main" class="main")

        div(class="pagetitle")
            h1 Form Inventory
        
        section(class="section")
            div(class="row")
                div(class="col-lg-9  mx-auto")
                    div(class="card")
                        div(class="card-body")
                            form(action="/inventory/form/" method="POST" enctype="multipart/form-data" class="row needs-validation" novalidate) 

                                div(class="row mt-4")
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="name" Class="form-label") Equiment Name 
                                        input(name="name" type="text" class="form-control" required)
                                        div(class="invalid-feedback") 
                                            p Please provide data Name of Equiement
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="model" Class="form-label") Equiment Model
                                        input(name="model" type="text" class="form-control" required)
                                        div(class="invalid-feedback ")
                                            p Please provide Equiment Model
                                
                                div(class="row mt-4")
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="serail_number" Class="form-label") Serial number
                                        input(name="serail_number" type="text" class="form-control" required)
                                        div(class="invalid-feedback")
                                            p Please provide Serial number
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="type" Class="form-label") Type
                                        select(name="type" class="form-select" aria-label="Default select example" required)   
                                            option(value="Drone") Drone 
                                            option(value="Battery") Battery
                                            option(value="Sensor") Sensor
                                            option(value="Camera") Camera
                                            option(value="Charger") Charger
                                            option(value="Accessory") Accessory
                                            option(value="Other") Other
                                
                                div(class="row mt-4")
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="status" Class="form-label") Status
                                        select(name="status" class="form-select" aria-label="Default select example" required)   
                                            option(value="Active") Active
                                            option(value="Pending") Pending
                                            option(value="Damaged") Damaged
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="image" class="form-label") Image
                                        input(name="image" type="file" class="form-control" capture="user" accept="image/*" required)
                                        div(class="invalid-feedback ")
                                            p Please provide Image

                                div(class="row mt-4")
                                    div(class="col-lg-6 col-sm-12 pt-sm-3")
                                        label(for="date" class="form-label") Date 
                                        input(name="date" type="date" class="form-control" required)
                                        div(class="invalid-feedback")
                                            p Please provide Date
                                    div(class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-center pt-sm-5")
                                        button(type='submit' Class="btn btn-primary mx-4") Submit
                                        button(type='reset' class="btn btn-secondary mx-4") Reset



